# Likes Report 
## Kalayah Bradley
## September 14th, 2025

## Section 1
Questions about Data

## Section 2
Open and load the json file

In [2]:
# These are the imports we need
import json
import pandas as pd
import matplotlib as plt

In [5]:
path = r"/Users/Kalayah/Downloads/instagram-peachyyyyy/your_instagram_activity/likes/liked_posts.json"
with open(path) as l:
    dict = json.load(l)

## Section 3
Conver the data into DATAframe object and assign it to a new variable using pandas DataFrame function

In [6]:
df = pd.DataFrame(dict)
df.head()

                                   likes_media_likes
0  {'title': 'holly.perk', 'string_list_data': [{...
1  {'title': 'spread.the.grub', 'string_list_data...
2  {'title': 'stellabarbellas', 'string_list_data...
3  {'title': 'coilz.beauty', 'string_list_data': ...
4  {'title': 'edgarswidit', 'string_list_data': [...

In [7]:
dict.keys()

dict_keys(['likes_media_likes'])

In [8]:
df_tidy = pd.DataFrame(dict['likes_media_likes'])
df_tidy.head()

             title                                   string_list_data
0       holly.perk  [{'href': 'https://www.instagram.com/p/DNyQJx5...
1  spread.the.grub  [{'href': 'https://www.instagram.com/reel/DMoW...
2  stellabarbellas  [{'href': 'https://www.instagram.com/p/DFnetCE...
3     coilz.beauty  [{'href': 'https://www.instagram.com/reel/DMot...
4      edgarswidit  [{'href': 'https://www.instagram.com/reel/DKbG...

## Section 4

In [10]:
df_tidy['string_list_data'].iloc[0]

[{'href': 'https://www.instagram.com/p/DNyQJx52rPy/',
  'value': 'รฐ\x9f\x91\x8d',
  'timestamp': 1756143953}]

In [11]:
type(df_tidy['string_list_data'].iloc[0])

list

In [12]:
len(df_tidy['string_list_data'].iloc[0])

1

In [13]:
df_tidy['string_list_data'].iloc[0][0]

{'href': 'https://www.instagram.com/p/DNyQJx52rPy/',
 'value': 'รฐ\x9f\x91\x8d',
 'timestamp': 1756143953}

In [15]:
df_tidy['string_list_data'].iloc[0][0]['timestamp']

1756143953

In [19]:
df_tidy['Time of Like'] = [ i[0]['timestamp'] for i in df_tidy['string_list_data']]

df_tidy.head()

,title,string_list_data,Time of Like
0,holly.perk,[{'href': 'https://www.instagram.com/p/DNyQJx5...,1756143953
1,spread.the.grub,[{'href': 'https://www.instagram.com/reel/DMoW...,1756133740
2,stellabarbellas,[{'href': 'https://www.instagram.com/p/DFnetCE...,1756133685
3,coilz.beauty,[{'href': 'https://www.instagram.com/reel/DMot...,1756133652
4,edgarswidit,[{'href': 'https://www.instagram.com/reel/DKbG...,1756133624

In [20]:
# good to have
from datetime import datetime
df_tidy['Date of Like'] = [ datetime.fromtimestamp(i[0]['timestamp']) for i in df_tidy['string_list_data']]

In [24]:
df_tidy.head()

,title,string_list_data,Time of Like,Date of Like
0,holly.perk,[{'href': 'https://www.instagram.com/p/DNyQJx5...,1756143953,2025-08-25 13:45:53
1,spread.the.grub,[{'href': 'https://www.instagram.com/reel/DMoW...,1756133740,2025-08-25 10:55:40
2,stellabarbellas,[{'href': 'https://www.instagram.com/p/DFnetCE...,1756133685,2025-08-25 10:54:45
3,coilz.beauty,[{'href': 'https://www.instagram.com/reel/DMot...,1756133652,2025-08-25 10:54:12
4,edgarswidit,[{'href': 'https://www.instagram.com/reel/DKbG...,1756133624,2025-08-25 10:53:44

In [31]:
df_tidy['href'] = [ i[0]['href'] for i in df_tidy['string_list_data']]
df_tidy.head()

,title,string_list_data,Time of Like,Date of Like,href
0,holly.perk,[{'href': 'https://www.instagram.com/p/DNyQJx5...,1756143953,2025-08-25 13:45:53,https://www.instagram.com/p/DNyQJx52rPy/
1,spread.the.grub,[{'href': 'https://www.instagram.com/reel/DMoW...,1756133740,2025-08-25 10:55:40,https://www.instagram.com/reel/DMoWLeOyI_m/
2,stellabarbellas,[{'href': 'https://www.instagram.com/p/DFnetCE...,1756133685,2025-08-25 10:54:45,https://www.instagram.com/p/DFnetCEA3Wf/
3,coilz.beauty,[{'href': 'https://www.instagram.com/reel/DMot...,1756133652,2025-08-25 10:54:12,https://www.instagram.com/reel/DMotYHuAllu/
4,edgarswidit,[{'href': 'https://www.instagram.com/reel/DKbG...,1756133624,2025-08-25 10:53:44,https://www.instagram.com/reel/DKbGpLCRcYq/

In [32]:
df_tidy['value'] = [ i[0]['value'] for i in df_tidy['string_list_data']]
df_tidy.head()

,title,string_list_data,Time of Like,Date of Like,href,value
0,holly.perk,[{'href': 'https://www.instagram.com/p/DNyQJx5...,1756143953,2025-08-25 13:45:53,https://www.instagram.com/p/DNyQJx52rPy/,รฐยยย
1,spread.the.grub,[{'href': 'https://www.instagram.com/reel/DMoW...,1756133740,2025-08-25 10:55:40,https://www.instagram.com/reel/DMoWLeOyI_m/,รฐยยย
2,stellabarbellas,[{'href': 'https://www.instagram.com/p/DFnetCE...,1756133685,2025-08-25 10:54:45,https://www.instagram.com/p/DFnetCEA3Wf/,รฐยยย
3,coilz.beauty,[{'href': 'https://www.instagram.com/reel/DMot...,1756133652,2025-08-25 10:54:12,https://www.instagram.com/reel/DMotYHuAllu/,รฐยยย
4,edgarswidit,[{'href': 'https://www.instagram.com/reel/DKbG...,1756133624,2025-08-25 10:53:44,https://www.instagram.com/reel/DKbGpLCRcYq/,รฐยยย

In [33]:
df_tidy.drop(columns = ['string_list_data'])

,title,Time of Like,Date of Like,href,value
0,holly.perk,1756143953,2025-08-25 13:45:53,https://www.instagram.com/p/DNyQJx52rPy/,รฐยยย
1,spread.the.grub,1756133740,2025-08-25 10:55:40,https://www.instagram.com/reel/DMoWLeOyI_m/,รฐยยย
2,stellabarbellas,1756133685,2025-08-25 10:54:45,https://www.instagram.com/p/DFnetCEA3Wf/,รฐยยย
3,coilz.beauty,1756133652,2025-08-25 10:54:12,https://www.instagram.com/reel/DMotYHuAllu/,รฐยยย
4,edgarswidit,1756133624,2025-08-25 10:53:44,https://www.instagram.com/reel/DKbGpLCRcYq/,รฐยยย
...,...,...,...,...,...
7610,theshaderoom,1724621500,2024-08-25 17:31:40,https://www.instagram.com/p/C_G3xfoR9_m/,รฐยยย
7611,kaylynn_sands,1724617180,2024-08-25 16:19:40,https://www.instagram.com/p/C_GwFfMRqwK/,รฐยยย
7612,allthings_rachel_,1724615526,2024-08-25 15:52:06,https://www.instagram.com/reel/C8FXC1BuIWP/,รฐยยย
7613,taylorhennagin,1724615301,2024-08-25 15:48:21,https://www.instagram.com/p/C_GtZoXPIsW/,รฐยยย
7614,theemelaninshadesroom,1724612764,2024-08-25 15:06:04,https://www.instagram.com/p/C-3V9hYyyzo/,รฐยยย

# Section 5

In [36]:
df_tidy.groupby('title').count().sort_values('value', ascending = False)

                     string_list_data  Time of Like  Date of Like  href  value
title
theshaderoom                      788           788           788   788    788
complex                           272           272           272   272    272
bleacherreport                    213           213           213   213    213
hoodfeelingsss                     98            98            98    98     98
complexsneakers                    89            89            89    89     89
...                               ...           ...           ...   ...    ...
herdreamshair                       1             1             1     1      1
herhairandbeauty                    1             1             1     1      1
herheartceo                         1             1             1     1      1
heycourtneymitchell                 1             1             1     1      1
zuzik_life                          1             1             1     1      1

[3498 rows x 5 columns]

# Hypothesis
Most of my ads are from retailers that I have purchased from before

# Section 6

In [3]:
# These are the imports we need
import json
import pandas as pd
import matplotlib as plt

In [4]:
path = r"/Users/Kalayah/Downloads/instagram-peachyyyyy/ads_information/instagram_ads_and_businesses/advertisers_using_your_activity_or_information.json"
with open(path) as l:
    dict = json.load(l)

In [6]:
df = pd.DataFrame(dict)
df.head(10)

                       ig_custom_audiences_all_types
0  {'advertiser_name': 'Crumbl', 'has_data_file_c...
1  {'advertiser_name': 'We Are BMF', 'has_data_fi...
2  {'advertiser_name': 'The Container Store', 'ha...
3  {'advertiser_name': 'RB-SK-Slovakia', 'has_dat...
4  {'advertiser_name': 'Underoutfit', 'has_data_f...
5  {'advertiser_name': 'Props.co', 'has_data_file...
6  {'advertiser_name': 'Hypetap UK', 'has_data_fi...
7  {'advertiser_name': 'SchroderHaus', 'has_data_...
8  {'advertiser_name': 'Amylu Foods', 'has_data_f...
9  {'advertiser_name': 'weareprncpls', 'has_data_...

# Reflection
### Most of my ads are from retailers thatt I have not bought from, however I do get a lot of ads from Crumbl Cookies which I do purchase cookies there very frequently.